.twitterreader_footer_start { width:25%; }
.twitterreader_footer_start .twitterreader_tweets { margin-bottom:10px; }
.twitterreader_footer_start .twitterreader_tweets a { display:block; padding:5px 0; text-align:left; }
.twitterreader_footer_end { width:25%; }
.twitterreader_footer_end .twitterreader_tweets { margin-bottom:10px; }
.twitterreader_footer_end .twitterreader_tweets a { display:block; padding:5px 0; text-align:left; }