<?xml version="1.0"?>
<config>
    <modules>
        <HusseyCoding_TwitterReader>
            <version>1.0.0</version>
        </HusseyCoding_TwitterReader>
    </modules>
    <global>
        <models>
            <twitterreader>
                <class>HusseyCoding_TwitterReader_Model</class>
                <resourceModel>twitterreader_mysql4</resourceModel>
            </twitterreader>
            <twitterreader_mysql4>
                <class>HusseyCoding_TwitterReader_Model_Mysql4</class>
                <entities>
                    <twitter_reader>
                        <table>twitter_reader</table>
                    </twitter_reader>
                </entities>
            </twitterreader_mysql4>
            <core>
                <rewrite>
                    <config_data>HusseyCoding_TwitterReader_Model_Config_CoreData</config_data>
                </rewrite>
            </core>
        </models>
        <helpers>
            <twitterreader>
                <class>HusseyCoding_TwitterReader_Helper</class>
            </twitterreader>
        </helpers>
        <blocks>
            <twitterreader>
                <class>HusseyCoding_TwitterReader_Block</class>
            </twitterreader>
        </blocks>
        <resources>
            <twitterreader_setup>
                <setup>
                    <module>HusseyCoding_TwitterReader</module>
                    <resourceModel>husseycoding_twitterreader_mysql4</resourceModel>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </twitterreader_setup>
            <twitterreader_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </twitterreader_write>
            <twitterreader_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </twitterreader_read>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <twitterreader>
                    <file>twitterreader.xml</file>
                </twitterreader>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <twitterreader>
                <use>admin</use>
                <args>
                    <module>HusseyCoding_TwitterReader</module>
                    <frontName>twitterreader</frontName>
                </args>
            </twitterreader>
        </routers>
    </admin>
    <adminhtml>
        <layout>
            <updates>
                <menupages>
                    <file>twitterreader.xml</file>
                </menupages>
            </updates>
        </layout>
        <events>
            <core_config_data_save_before>
                <observers>
                    <adminhtml_core_config_data_save_before_twitterreader>
                        <class>twitterreader/observer</class>
                        <method>adminhtmlCoreConfigDataSaveBefore</method>
                    </adminhtml_core_config_data_save_before_twitterreader>
                </observers>
            </core_config_data_save_before>
        </events>
    </adminhtml>
    <crontab>
        <jobs>
            <twitterreader_manage>
                <schedule>
                    <cron_expr>*/10 * * * *</cron_expr>
                </schedule>
                <run>
                    <model>twitterreader/manage::cron</model>
                </run>
            </twitterreader_manage>
        </jobs>
    </crontab>
</config>